.carousel-inner .carousel-item {
  height: 511px !important;
}
.carousel-inner .carousel-item .img-product-detail {
  height: 100% !important;
  object-fit: cover;
}
.btn-wishlist:hover {
  background-color: #d29c97;
  color: #fff !important;
  border: transparent;
}
span.nav-link.active {
  color: #d29c97 !important;
  font-weight: 500;
  text-transform: uppercase;
  font-size: large;
}
span.nav-item.nav-link {
  color: #495057;
}
